*{
  background: #500cbd;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #b9bdc0;
  margin-top: 60px;
}
#welcome {
  display:block;
}
.spotifyLog {
  background: green;
  color: white;
  padding: 1rem;
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
}
.spotifyLog:hover{
  background: greenyellow;
}

#submitForm {
  background: #2151b8;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px
}
#submitForm:hover {
background: #8923a8;
}

form {
display: flex;
align-items: center;
justify-content: center;
}

.selectArtist img {
  width: 25vw;
}

#vs {
  padding: 1vw;
}
ul {
  list-style-type: none;
}